* {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.container-fluid {
  padding-right: 120px;
  padding-left: 120px;
  height: 70px;
}
.navbar-nav > li > a {
  line-height: 40px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  line-height: 40px;
}
nav > .active > a:hover {
  background-color: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #1abc9c;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #1abc9c;
  background-color: transparent;
}
h3 {
  padding: 60px;
}
#who {
  background-color: #1abc9c;
  padding: 50px;
  color: white;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
#what {
  background-color: #474e5d;
  padding: 50px;
  color: white;
}
.btn {
  padding: 10px 16px;
  font-size: 18px;
  color: black;
}
p {
  margin-bottom: 24px;
  font-size: 1.5rem;
}
img {
  margin-bottom: 45px;
}
footer {
  background-color: black;
  color: white;
}
.clear {
  clear: both;
}
