* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
.main {
}
.header {
}
.nav {
  background-color: black;
  height: 46px;
}
.nav li {
  display: inline-block;
  padding: 0 24px;
  line-height: 46px;
  position: relative;
}
.nav li a {
  text-decoration: none;
  color: white;
}
.nav .subnav {
  position: absolute;
  top: 46px;
  left: 0;
  display: none;
}
.nav .subnav li {
  width: 100%;
  background-color: white;
  min-width: 160px;
  padding-left: 10px;
}
.nav .subnav a {
  color: black;
}
.nav li:hover .subnav {
  display: block;
}
.nav li:hover {
  background-color: #ccc;
  color: black;
}
.slider {
  height: 500px;
  background-color: green;
}
.content {
}
.footer {
}
